@model IEnumerable<AppliTrAc.Models.Module>

    @{
    ViewBag.Title = "Index";
    }

    @section scripts
    {
    @Scripts.Render("~/bundles/models")
    }
  <h2 class="well well-small">Manage Modules</h2>


    <div>

        <a class="btn btn-success pull-left" href="@Url.Action("Create")">
            <i class="icon-plus"></i> New Module
        </a>
    </div>

    @using (Html.BeginForm("Index", "Modules", FormMethod.Get))
    {
    }

<table id="survey-list" class="table table-striped">
    <thead>
        <tr>
            <th class="span8">Module Code</th>
            <th class="span8">Module Name</th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ModuleID</td>
            <td>@item.ModuleName</td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-wrench"></i><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu pull-right">
                        <li>
                            <a href="@Url.Action("Details", new {id=item.ModuleID})">
                                <i class="icon-list"></i> Surveys
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("AllResponses", new {id=item.ModuleID})">
                                <i class="icon-list"></i> Chart
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", new {id=item.ModuleID})">
                                <i class="icon-list"></i> Edit
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Delete", new {id=item.ModuleID})" data-bind="click: destroy">
                                <i class="icon-trash"></i> Delete
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>

    <br />

