@model IEnumerable<AppliTrAc.Models.Survey>

    @{
        ViewBag.Title = "Surveys";
    }
    @section scripts
    {

    @Scripts.Render("~/bundles/models")
    }
    @using (Html.BeginForm("Index", "Responses", new {id = @User.Identity.Name}))
    {

        <div>
            <h2>
                <small>Take a survey</small>
            </h2>
        </div>
        <table id="survey-list" class="table table-striped">
            <thead>
            <tr>
                <th class="span2">Module</th>
            </tr>

            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ModuleID</td>
                    <td>@item.Name</td>
                    <td>
                    <a class="btn btn-success pull-left" href="@Url.Action("Create",new{SurveyID = item.SurveyID})">
                        <i class="icon-plus"></i> Begin
                    </a>
                    <td>
                </tr>
            }
            </tbody>
        </table>
    }