@model AppliTrAc.Models.User

@{
    ViewBag.Title = "Details";
}

<h2 class="well well-small">Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        @if (@Model.Role == "Lecturer")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Lecturer.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lecturer.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Lecturer.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Lecturer.LastName)
            </dd>
        }
        @if (@Model.Role == "Student")
        {
            <dt>
                @Html.DisplayNameFor(model => model.Student.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
